:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
}

body {
    background-color: var(--light-gray);
    font-size: 16px;
    font-family: 'Outfit', sans-serif; 
    margin: 0;
    padding: 0;
    min-height: 100svh;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100svh;
}

.qrcard {
    background-color: var(--white);
    border-radius: 16px; 
    display: block;
    padding: 1rem;
    width: 300px; 
    height: 500px; 
    text-align: center;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.122);
}

.qrcard__code {
    width: 300px;
    border-radius: 16px;
}

.qrcard__title {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    width: 18rem;
    margin: auto;
    margin-top: 1rem;
}

.qrcard__desc {
    color: var(--grayish-blue); 
    font-size: 1.05rem;
    width: 18rem;
    margin: auto;
    margin-top: 1rem;
}
